<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.open.covid19.mapper.AnalysisCaseMapper">
    <select id="getCasesSizeByCountry" parameterType="int" resultType="java.lang.Integer">
        select count(id) as length from management.covid19_cases where country_id=#{id}
    </select>

    <update id="updateRecordCountById" parameterType="map">
        update management.covid19_countries set record_count=#{count} where id=#{countryId};
    </update>

    <select id="getAllRecords" resultType="org.open.covid19.entity.Country">
        select country_id as id, count(id) as recordCount from management.covid19_cases group by country_id;
    </select>

    <update id="updateAllRecords" parameterType="list">
        update management.covid19_countries
            set record_count = case id
                <foreach collection="list" item="item" index="index">
                    <trim prefix=" " suffix=" ">
                        when #{item.id} then #{item.recordCount}
                    </trim>
                </foreach>
            end;
    </update>
<!--    此sql有语法错误，搞不明白-->
    <update id="updateRecordWithBeginEnd" parameterType="list">
        begin
            <foreach collection="list" item="item" index="index">
                update management.covid19_countries set record_count=${item.recordCount} where id=#{item.id};
            </foreach>
        end;
    </update>
    <select id="selectLessThanSizeRecords" parameterType="int" resultType="org.open.covid19.entity.Case">
        select a.country_id as countryId, max(a.statistic_date) as date, b.slug, count(1) as size
            from management.covid19_cases a, management.covid19_countries b
            where a.country_id=b.id group by a.country_id having size &lt; #{size};
    </select>
    <select id="selectIdsWhereNoRecord" resultType="org.open.covid19.entity.Country">
        select country.id,country.slug from covid19_countries country left join covid19_cases case19
            on country.id=case19.country_id where case19.country_id is null;
    </select>
</mapper>