<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.open.covid19.mapper.Covid19ApiMapper">
    <select id="selectCountryId" parameterType="java.lang.String" resultType="java.lang.Long">
         select id from management.covid19_countries where slug=#{slug}
    </select>

    <insert id="setCasesList2country" parameterType="map">
        insert into management.covid19_cases (
            total_cases,total_death,total_recovered,country_id,statistic_date
        ) values
        <foreach collection="cases" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.totalCase},
                #{item.totalDeath},
                #{item.totalRecovered},
                #{countryId},
                #{item.date}
            </trim>
        </foreach>
    </insert>
<!--    批量insert-->
    <insert id="batchInsertCaseList" parameterType="list">
        insert into management.covid19_cases (
        total_cases,total_death,total_recovered,country_id,province_id,statistic_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.totalCase},
                #{item.totalDeath},
                #{item.totalRecovered},
                #{item.countryId},
                #{item.provinceId},
                #{item.date}
            </trim>
        </foreach>
    </insert>
    <!--获取国家列表-->
    <select id="getCountryList" resultType="org.open.covid19.entity.Country">
        select * from management.covid19_countries
    </select>
    <select id="getGlobalCaseCount" resultType="long">

    </select>
    <select id="selectProvinceIdByName" resultType="java.lang.Long" parameterType="map">
        select province_id from management.covid19_province where country_id=#{countryId} and province_name=#{provinceName};
    </select>

    <select id="selectUsStates" resultType="org.open.covid19.entity.jhu.ProvinceEntity">
        select * from management.covid19_province where country_id=15;
    </select>
</mapper>